<ac:layout>
    <ac:layout-section ac:type="two_equal">
        <ac:layout-cell>
            <p>
                <ac:structured-macro ac:name="pagetree" ac:schema-version="1"
                                     ac:macro-id="cfcfc0b6-96e4-4de1-a1a6-5adbcde8b7ae">
                    <ac:parameter ac:name="expandCollapseAll">true</ac:parameter>
                    <ac:parameter ac:name="root">
                        <ac:link/>
                    </ac:parameter>
                    <ac:parameter ac:name="spaces">
                        <ri:space ri:space-key="ds"/>
                    </ac:parameter>
                    <ac:parameter ac:name="startDepth">0</ac:parameter>
                    <ac:parameter ac:name="sort">modified</ac:parameter>
                    <ac:parameter ac:name="searchBox">true</ac:parameter>
                </ac:structured-macro>
            </p>
        </ac:layout-cell>
        <ac:layout-cell>
            <p>
                <ac:structured-macro ac:name="gdoclist" ac:schema-version="1"
                                     ac:macro-id="4a000c3a-44c2-4171-8a74-40f050af45c4">
                    <ac:parameter ac:name="folder">{item_id}</ac:parameter>
                    <ac:parameter ac:name="title">Content on GDrive</ac:parameter>
                </ac:structured-macro>
            </p>
        </ac:layout-cell>
    </ac:layout-section>
</ac:layout>